.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.actions {
  float: right;
  margin-right: 15px;
}

.post-footer {
  font-size: 12px;
  margin-left: 15px;
}

.comment-footer {
  font-size: 12px;
  margin-left: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.voting-actions {
  float: right;
}
